@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto&display=swap');

$font-text: "'Segoe UI', Tahoma, Geneva, Verdana, sans-serif";
$text: #14213D;
$headings: #0D1B2A;
$background-tarjetas: #fdf0d5;
$general-color: #ffffff;